/***************
Helper classes
****************/
.link-highlight{
  text-decoration: underline;
}
.link-white, .link-white:hover, .link-white:visited, .link-white:focus{
    color: white;
}

.nowrap{
    white-space: nowrap;
}

/***************
Header Styles
****************/
#header span.header-left{
  display: none;
}

#header .logo {
    background: #FBE73A;
    height: auto;
    text-align: center;
}

#header .logo a {
  margin-top: 18px;
}

@media (max-width: 980px){
  #header .logo a {
    margin: 15px 0;
    width: auto;
  }

  #header .top-info {
    margin:0;
  }
}

.header-container{
  max-width: 1140px;
  margin: 0 auto;
}

#header .top-info-container{
  margin: 15px 0;
}


#header .top-info .best .best-text p,
#header .top-info .timing .timing-text p,
#header .top-info .experience .experience-text p{
  font-size: 14px;
}

/***************
Contact us
****************/
.contact-us{
  background: #d36c31;
  padding: 26px 10px;
  text-align: center;
}

.contact-us p{
  font-family: 'SourceSansPro-Regular';
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin-bottom: 0px;
}

.contact-us p > span{
  display: block;
  margin: 10px 0;
}

@media (min-width: 1048px){
  .contact-us p{
    font-family: 'SourceSansPro-Regular';
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    margin-bottom: 0px;
  }
}

@media (min-width: 650px){
  .contact-us p > span{
    display: inline;
  }
}

/***************
About us
****************/
@media (max-width: 991px){
  #about .section-detail .about-image img {
    display: none;
  }

  #about .section-detail .about-text {
    margin-top: 40px;
    padding-left: 30px;
  }
}

#about .section-detail {
    margin-top: 0;
}

@media (min-width: 641px) and (max-width: 991px){
  #about .section-detail .about-text {
    padding-left: 80px;
  }
}

#about .section-detail {
    margin-top: 0;
}

/***************
Services
****************/

#services .services-container .service-detail:hover .service-hover {
  background: rgba(255,255,255,1);
  height: 25%;
  top: initial;
}

#services .services-container .service-detail:hover .service-hover h3 {
  text-transform: none;
}

.services-body{
  text-align: center;
}

.service-col p{
  font-size: 1.5em;
  color: #E4E4E4;
  font-weight: bold;
  font-family: 'SourceSansPro-Regular';
  text-shadow: 1px 1px 1px #19171C;
}

@media (min-width: 768px){
  .service-col p{
    font-size: 1.8em;
  }
}
/***************
Footer
****************/

#footer .footer-info .inTouch .inTouch-row {
    margin-bottom: 10px;
}

#footer .footer-info p{
  padding-bottom: 8px;
}
