#header span.header-left{
  display: none;
}

#header .logo {
    background: #FBE73A;
    height: auto;
    text-align: center;
}

#header .logo a {
  margin-top: 18px;
}

@media (max-width: 980px){
  #header .logo a {
    margin: 15px 0;
    width: auto;
  }

  #header .top-info {
    margin:0;
  }
}

.header-container{
  max-width: 1140px;
  margin: 0 auto;
}

#header .top-info-container{
  margin: 15px 0;
}
